{{js_template|safe}}
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <form id="poll-form">
    <ul class="list-input settings-list" id="poll-line-items">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-display-name">Название</label>
                <!-- In the case of surveys, this field will actually be used for block_name. -->
                <input class="input setting-input" name="display_name" id="poll-display-name" value="{{ display_name }}" type="text" />
            </div>
        </li>
        {% if not multiquestion %}
            <li class="field comp-setting-entry is-set">
              <h2><label for="poll-question-editor">Вопрос/Подсказка</label></h2>
              Поддерживается синтаксис <a href="//daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
              <div id="poll-question-editor-container">
                <textarea class="input setting-input" name="question" id="poll-question-editor">{{question}}</textarea>
              </div>
              <span class="tip setting-help">Введите подсказку для студента.</span>
            </li>
        {% endif %}
        <li class="field comp-setting-entry is-set">
           <h2><label for="poll-feedback-editor">Отзыв</label></h2>
           Поддерживается синтаксис <a href="//daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
           <div id="poll-feedback-editor-container">
             <textarea class="input setting-input" name="feedback" id="poll-feedback-editor">{{feedback}}</textarea>
           </div>
            <span class="tip setting-help">
                Студенты увидят этот текст как некое дополнительное сообщение
                после прохождения опроса.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-private-results">Скрыть результаты</label>
                <select id="poll-private-results" class="input setting-input" name="private_results">
                    <!-- So far as I can see, there's not a proper style for checkboxes. LTI module does it this way. -->
                    <option value="true" {% if private_results %} selected{% endif %}>True</option>
                    <option value="false" {% if not private_results %} selected{% endif %}>False</option>
                </select>
            </div>
            <span class="tip setting-help">
                Если здесь стоит True, студент не увидит результатов опроса.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-max-submissions">Максимальное Количество Отправок</label>
                <input id="poll-max-submissions" type="number" min="0" step="1" value="{{ max_submissions }}"/>
            </div>
            <span class="tip setting-help">
                Максимальное количество раз, которое один студент может ответить на этот опрос.
                <strong>Внимание: Если это число больше 1, оно подразумевает что параметр "Скрыть результаты" должен быть True.</strong>
                Установка этого параметра в 0 позволит студенту отвечать на опрос неограниченное количество раз.
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label poll-setting-label" for="poll-due">Время Окончания Опроса</label>
                <input id="poll-due" value="{{ due }}"/>
            </div>
            <span class="tip setting-help">
                Дата окончания приема ответов на этот опрос. Если не указана, прием ответов не будет окончен никогда.
                Дата должна быть выражена в стандарте <a href="https://ru.wikipedia.org/wiki/ISO_8601" target="_blank">ISO-8601.</a>
            </span>
        </li>
        <li class="field comp-setting-entry is-set">
            <p>
                <strong>Внимание:</strong>
                Если вы измените текст ответа, он изменится также и в отправках студентов, которые выбрали этот вариант ответа.
                Избегайте кардинальных изменений в ответах, например, замены 'Да' на 'Нет'.
                Если вы удалите ответ, также будут удалены и все голоса за данный ответ. Студенты, который выбрали данный ответ в своей отправке
                могут заново пройти опрос без потери прогресса за курс.
            </p>
            {%  if multiquestion %}
                <p>
                    С вопросами следует соблюдать такую же осторожность. Если текст вопроса изменится, поданные на него ответы
                    останутся без изменений. Если вопрос будет удален, студенты, участвовавшие в опросе ранее смогут ответить на него еще 
                    раз, без потери прогресса за курс.
                </p>
            {% endif %}
        </li>
        <li id="poll-answer-marker"></li>
        <li id="poll-answer-end-marker"></li>
        <li id="poll-question-marker"></li>
        <li id="poll-question-end-marker"></li>
    </ul>
    <div class="xblock-actions">
        <ul>
            <li class="action-item" id="poll-add-answer">
                <a href="#" class="button action-button" class="poll-add-item-link" onclick="return false;">Добавить Ответ</a>
            </li>
            {% if multiquestion %}
                <li class="action-item" id="poll-add-question">
                    <a href="#" class="button action-button" class="poll-add-item-link" onclick="return false;">Добавить Вопрос</a>
                </li>
            {% endif %}
            <li class="action-item">
                <input id="poll-submit-options" type="submit" class="button action-primary save-button" value="Сохранить" onclick="return false;" />
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">Отменить</a>
            </li>
        </ul>
    </div>
    </form>
</div>
